---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.swiper-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
  }
  
  .swiper-slide img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .swiper-button-next, .swiper-button-prev {
    color: #fff;
  }

  