<!-- start custom comments snippet -->
<head>
    ..
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    ...
</head>
<body>
    ...
    <div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: "JpNjeFjJadZV61neeevyNsct-gzGzoHsz"
            appKey: "NVQHUrm55fBRCj0gD3YH88TZ"
        })
    </script>
</body>
<!-- end custom comments snippet -->

<!-- valine:
enable: true
appId: "JpNjeFjJadZV61neeevyNsct-gzGzoHsz"
appKey: "NVQHUrm55fBRCj0gD3YH88TZ"
placeholder: "欢迎留言..."
avatar: "mp"
visitor: true
lang: "zh-CN" -->