---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}

<a href="{{ site.baseurl }}/old-articles/">查看往期文章</a>

<style>
  .swiper-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
  }
  
  .swiper-slide img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .swiper-button-next, .swiper-button-prev {
    color: #fff;
  }
  </style>



